extends layout

block content
  h1 Welcome to the board
  if user 
    h1 logged in as #{user.firstname + " " + user.lastname}
  h1(style="display: flex; justify-content:space-between")
    a(href="/login") Log In
    a(href="/signup") Sign Up 
  
